body {
	margin: 0;
	padding: 0;
	background-color: rgb(233, 241, 249);
	display: flex;
	justify-content: center;
	font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
}

.app {
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.2) 0 6px 24px, rgba(0, 0, 0, 0.09) 0 0 0 1px;
	border-radius: 10px;
	padding: 10px;
	width: 800px;
	margin-top: 50px;
}

.edit {
	border: 1.5px solid rgb(141, 181, 145);
	color: rgb(141, 181, 145);
	text-transform: uppercase;
	margin: 0 5px;
	padding: 5px 10px;
	font-size: 13px;
	border-radius: 12px;
	background-color: transparent;
}
.edit:hover {
	background-color: rgb(182, 223, 186);
}
.edit:active {
	background-color: rgb(141, 181, 145);
	color: #fff;
}
.list-item .delete {
	border: 1.5px solid rgb(225, 175, 163);
	color: rgb(225, 175, 163);
	text-transform: uppercase;
}
.list-item .delete:hover {
	background-color: rgb(225, 201, 193);
}
.list-item .delete:active {
	background-color: rgb(225, 175, 163);
	color: #fff;
}
.list-header .create {
	border: 1.5px solid rgb(108, 115, 148);
	color: rgb(108, 115, 148);
	text-transform: uppercase;
}
.list-header .create:hover {
	background-color: rgb(131, 138, 172);
}
.list-header .create:active {
	background-color: rgb(108, 115, 148);
	color: #fff;
}
.list-header .sign-out {
	border: 1.5px solid rgb(225, 175, 163);
	background-color: rgb(225, 175, 163);
	color: #fff;
}
.list-header .sign-out:hover {
	background-color: rgb(175, 94, 94);
	border: 1.5px solid rgb(175, 94, 94);
}
.list-header .sign-out:active {
	border: 1.5 solid rgb(175, 81, 81);

	background-color: rgb(225, 175, 163);
}

input {
	margin: 11px 0;
	padding: 12px 16px;
	border-radius: 12px;
	border: 1.5px solid rgb(230, 232, 236);
	outline: none;
}
.button-container,
.info-container {
	display: flex;
	align-items: center;
}
.button-container button {
	margin: 0 5px;
	padding: 5px 10px;
	font-size: 13px;
	border-radius: 12px;
	background-color: transparent;
	/* border: 2px solid black; */
}

.button-container button:hover {
	cursor: pointer;
	/* background-color: black; */
	color: white;
	transition: 0.3s;
}
/* List Header */

.list-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}

.list-item {
	width: 95%;
	margin: 10px 0;
	padding: 15px 20px;
	border-radius: 10px;
	text-transform: capitalize;
	box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
	display: flex;
	justify-content: space-between;
}

.list-item .tick {
	margin-right: 5px;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal {
	width: 500px;
	background-color: white;
	padding: 40px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.5) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}
.modal .form-title-container {
	display: flex;
	justify-content: space-between;
}
.modal .form-title-container button {
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.modal .form-title-container button:active {
	color: rgb(255, 50, 50);
}

.modal form {
	display: flex;
	flex-direction: column;
}
.modal label {
	font-size: 13px;
}
.modal .progess {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	margin-bottom: 5px;
}
